.body {
  --instagram-color:#696880;
  --instagram-background: black;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.App{
  height: 100vh;
  display: flex;
  max-width:1300px;
  margin-left: auto;
  margin-right:auto;
  padding: 10px
}